*.tgz
.ignore
.terraform*
terraform.plan
terraform.tfvars
tfplan
*.pkrvars*
*.tfstate
*.tfstate.backup
node_modules
package-lock.json
.env*
/opentripplanner/graph-*/*.obj
/opentripplanner/graph-*/*.pbf
/opentripplanner/graph-*/*.zip